.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    box-shadow: 1px 5px 1px white;
    width: 100%;
    height: 90px;
    z-index: 1000;
}

.right-items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn {
    width: 4rem;
    height: 4rem;
}

.selection:hover {
    color: blue;
}