.cart{
    width: 2rem;
    height: 2rem;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #2bec2b;
      color: rgb(15, 15, 15);
      padding: 2px 5px;
      vertical-align: top;
      margin-left: -10px; 
      height: 15px;
  }