.banner {
    position: relative;
    top: 90px;
    z-index: 1;
    width: 100%;
    height: 12.5rem;
}

.img-background {
    position: absolute;
    display: flex;
    width: 100%;
    height: 600px;
    /* background-color: #FCD3AB; */
    background-image: linear-gradient(to bottom, #ff8621, #F6F3F3);

}

.img-text {
    color: white;
    padding: 4rem;
    margin-left: 3rem;
    width: 70%;
}

.slider {
    height: 700px;
    z-index: -10;
}

.Div {
    position: relative;
    padding-top: 4rem;
    margin-left: 10rem;
    font-size: 1rem;
    width: 30%;
}

.textStyle {
    color: white;
    font-family: 'Times New Roman', Times, serif
}