.banner {
    position: relative;
    top: 90px;
    z-index: 1;
    width: 100%;
    height: 12.5rem;
}

.img-background {
    position: absolute;
    width: 100%;
    height: 200px;
}

.img-text {
    color: white;
    padding: 4rem;
}

.slider{
  height: 200px;
}