
  
  .bg {
   
    background-image: linear-gradient(-60deg, rgb(86, 111, 221) 80%, #09f 20%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }